body { font-family: avenir,'Segoe UI',sans-serif; color: #333; font-size: 150%; max-width: 33em; padding:3%;margin-left:auto;margin-right:auto;}
img {max-width:100%;display:block;margin-left:auto;margin-right:auto;}
a {color:#09c;text-decoration:none;}
a:hover {color:#09c;}
blockquote {font-style: italic;}
.nav ul, .nav li, ul, .nav a {display:inline-block;list-style:none;color: #333; font-weight: bold; -webkit-padding-start: 0px;padding-right:10px;text-align:left;}
header 	{font-size:80%;color:#b3b3b1;text-align:left;padding-top:1em}
footer  {font-size:80%;color:#b3b3b1;text-align:center;padding-top:1em}
@media only screen and (max-width: 600px) {body {font-size: 100%;padding:10px;}}